.resultados{
    padding: 0.5%;
    width: 28.75%;
    margin-left: 35%;
    margin-top: 2%;
    border: 2px solid rgb(174, 171, 171);
    border-radius: 5px;
}
.print{
    margin-top: -7%;
    width: 100%;
    display: flex;
    text-align: center;
}


.resultados h3{
    margin-top: 0;
    width: 100%;
    border-bottom: 2px solid rgb(174, 171, 171);
    
}

.id{
    text-decoration: underline;
    color: red;
    width: 20%;
    height: 25%;
}

.name{
    width: 60%;
    height: 35%;
    text-align: left;
    margin-left: 7%;
}

.name_eq{
    width: 80%;
    height: 35%;
    text-align: left;
    margin-left: 7%;
}

.qtd{
    width: 20%;
    height: 25%;
}