.App {
  width: 100vw;
  height: 100vh;
}

.App img{
  width: 15%;
  margin-left: 42.5%;
}

.barraPesquisa{
  width: 30%;
  height: 4.5%;
  margin-left: 35%;
  display: flex;
}

.barraPesquisa #input{
  height: 90%;
  padding: 0;
  width: 90%;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
  border: 2px solid rgb(174, 171, 171);
  border-right: none;
}

.barraPesquisa .button{
  width: 10%;
  height: 100%;
  background-color: white;
  border-bottom-right-radius: 5px;
  border-top-right-radius: 5px;
  border: 2px solid rgb(174, 171, 171);
  cursor: pointer;
}

.barraPesquisa .button svg{
  font-size: 20px;
  vertical-align: middle;
}

